@import url(reset.css);

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    color: #212B36;
    background: url(../img/background.png) center / cover fixed;
}

[class*=__container] {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

span {
    font-size: 30px;
    background-color: #212B36;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}
/*---------------------HEADER-----------------*/
.header {
}
.header__container {
}
.header__content {
    padding: 50px 0px;
}
.header__content h1,p{
    margin-bottom: 30px;
}
.header__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    color: #212B36;
    border-radius: 10px;
}
.header__images{
    font-size: 0px;
}
.header__images img{
    font-size: 16px;
    vertical-align: middle;
}
.header__image:not(:last-child) {
    margin-right: 10px;
}

/*---------------------PAGE-----------------*/
.page {
}
.page__container {
}
.page__content {
    padding: 50px 0px;
}
.page__content h2,p{
    margin-bottom: 30px;
}
.page__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    color: #212B36;
    border-radius: 10px;
}
.page__images {
    background: url(../img/choose-us-design.svg) 20% 0 / contain no-repeat, url(../img/team-ellipse-design.svg) 30% 0 / contain no-repeat, url(../img/pricing-oval-design.svg) 40% 0 / contain no-repeat, url(../img/pricing-oval-second.svg) 50% 0 / contain no-repeat, url(../img/amazing-dotted-shape.svg) 60% 0 / contain no-repeat, url(../img/people-line-blue.svg) 70% 0 / contain no-repeat, url(../img/people-line-green.svg) 80% 0 / contain no-repeat, url(../img/people-oval-first.svg) 90% 0 / contain no-repeat, url(../img/people-oval-second.svg) 100% 0 / contain no-repeat;
}

/*---------------------FOOTER-----------------*/
.footer {
}
.footer__container {
}
.footer__content {
    padding: 50px 0px;
}
.footer__content h2,p{
    margin-bottom: 30px;
}
.footer__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    color: #212B36;
    border-radius: 10px;
}
.footer__images {
    font-size: 0px;
}
.footer__images img{
    font-size: 16px;
}
.footer__image-main {
    max-width: 100%;
    margin-bottom: 10px;
}
.footer__image:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
}




